body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    
}
.bg-container{
    background-image: linear-gradient(112deg, #ffa3dc, #f0bfc2, #f6a19a, #eec660);
    min-height: 100%;
    padding-bottom: 40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    padding: 0px;
    background-color: #fff;
    
}
a{
    text-decoration: none;
    color: #000;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #000;
    list-style-type: none;
    width: 70%;
    max-width: 70%;
    text-align: center;
}
.icons{
    margin-right: 20px;
}
.bg-main-image{
    background-image: url(assets/img1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 40px;
}
.banner-text{
    background-color: #f98181;
    max-width: 520px;
    height: 200px;
    padding: 10px;
    color: #fff;
    font-weight: 900;
    font-family: "Roboto";
}
.banner-text h1{
font-size: 40px;
margin-bottom: 0px;
}
.banner-text p{
    margin-top: 0px;
}
.menu-items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    
}

.order-now{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 40px 0px 40px 0px;
}
.food-item-container{
    background-color: #fff;
    padding: 20px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    width: 20%;
    font-weight: 900;
    font-family: "Roboto";
}
.food-item{
    max-height: 230px;
    min-height: 220px;
    max-width: 235px;
    width: 100%;
    border-top-right-radius: 57px;
    object-fit: cover;
}
button{
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    font-family: "Roboto";
}

/* Tablet and Small Laptop Responsive Styles */
@media screen and (max-width: 998px) {
    .navbar {
        margin-left: 0;
    }

    .nav-links {
        width: 85%;
        font-size: 16px;
    }

    .bg-main-image {
        padding-left: 20px;
        padding-bottom: 20px;
        max-width: 998px;
        /* width: 100%; */
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 600px;
        height: 100%;
    }

    .banner-text {
        max-width: 60%;
        height: auto;
        padding: 20px;
    }
    
    .banner-text h1 {
        font-size: 25px;
    }
    
    .banner-text p {
        font-size: 14px;
    }

    .menu-items-container {
        flex-direction: column;
        align-items: center;
    }

    .food-item-container {
        width: 50%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .food-item {
        max-height: 400px;
        min-height: 380px;
        /* min-height: 100%; */
        max-width: 400px;
        width: 100%;
        border-top-right-radius: 57px;
        object-fit: cover;
    }

    .order-now {
        font-size: 35px;
    }
}
h4{
    font-size: 20px;
}



/* Tablet Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
        margin-left: 0;
    }

    .nav-links {
        width: 90%;
        font-size: 15px;
    }

    .bg-main-image {
        padding-left: 20px;
        padding-bottom: 20px;
        max-width: 769px;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 467px;
        height: 100%;
    }

    .banner-text {
        max-width: 50%;
        height: auto;
        padding: 20px;
    }
    .banner-text h1{
        font-size: 20px;
    }
    .banner-text p{
        font-size: 12px;

    }
    .menu-items-container {
        flex-direction: column;
        align-items: center;
    }

    .food-item-container {
        width: 60%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .food-item {
        max-height: 370px;
        min-height: 300px;
        /* min-height: 100%; */
        max-width: 360px;
        width: 100%;
        border-top-right-radius: 57px;
        object-fit: cover;
    }
}

/* Mobile Responsive Styles */
@media screen and (max-width: 480px) {
    .bg-container{
        width: 501px;
    }
    .navbar {
        margin-left: 0;
        width: 501px;
    }

    .nav-links {
        width: 90%;
        font-size: 12px;
    }

    .bg-main-image {
        padding-left: 20px;
        padding-bottom: 20px;
        width: 481px;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 335px;
        height: 100%;
    }

    .banner-text {
        max-width: 50%;
        height: auto;
        padding: 20px;
    }
    .banner-text h1{
        font-size: 15px;
    }
    .banner-text p{
        font-size: 10px;

    }
    .order-now{
        font-size: 30px;
    }
    .menu-items-container {
        flex-direction: column;
        align-items: center;
    }

    .food-item-container {
        width: 60%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .food-item {
        max-height: 230px;
        min-height: 200px;
        /* min-height: 100%; */
        max-width: 235px;
        width: 100%;
        border-top-right-radius: 57px;
        object-fit: cover;
    }
}
